[Unit]
Description=Scamusica Music Player
After=graphical-session.target network.target sound.target
Wants=graphical-session.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/scamusica/lib/app
ExecStart=/opt/scamusica/lib/app/scamusica_wrapper.sh

Restart=always
RestartSec=3
StartLimitIntervalSec=60
StartLimitBurst=5

Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

MemoryMax=3500M
MemoryHigh=3000M

[Install]
WantedBy=default.target
